
.hero-area {
    padding-top: 100px;
    background: rgb(0,1,36);
    background: linear-gradient(90deg, rgba(0,1,36,1) 0%, rgba(93,9,121,1) 35%, rgba(0,255,132,1) 100%);
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 300px;
}    

footer {
    background-color: #64245c;
    color: #ffffff;
}